.homehead{
    color:  red;
    text-shadow:  white 30px 20px 12px;
    
}

body {
  
    flex-direction: column;

}
.li{
  
    color: aliceblue;
    background-color: red;
}
.list-cont{

    margin: 20px;
    padding: 2px;
    background-color: bisque;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px solid red;
    width: 400px;
    

}


.list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;

}